.bsmd {
	width: 100%;
	min-width: 685px;
	height: 100%;
	min-height: 300px;
	position: relative;
}
.bsmd .btn-default, .bsmd .dropdown-toggle.btn-default {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
	padding: 6px 12px;
}
.bsmd .btn-default:hover, .bsmd .btn-default:focus, .bsmd .btn-default:active, .bsmd .btn-default.active, .bsmd .open .dropdown-toggle.btn-default {
	color: #333333;
	background-color: #ebebeb;
	border-color: #adadad;
}
.bsmd-modal-code .modal-dialog {
	width: 750px;
}
.bsmd-modal-code .modal-body .list-group {
	margin: 0;
}
.bsmd-modal-code .list-group-code a.list-group-item {
	display: inline-block;
	margin: 5px 5px 0 0;
	padding: 7px;
}
.bsmd-modal-code .modal-footer {
	margin: 0;
}
.bsmd .bsmd-editor {
	position: absolute;
	top: 40px;
	bottom: 0;
	left: 0;
	right: 0;
}
.bsmd .bsmd-preview {
	position: absolute;
	top: 40px;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	padding: 5px 10px 0;
	overflow: auto;
}
