body{
   margin-top: 50px;
}

/*中间主要内容*/
#content{
   margin: 40px;
}

#content  .container{
   text-align: center;
}

#content  .container .row img{
    width: 140px;
}

#content  .container .row p{
    text-align:left;
    text-indent: 8%;
}


#footer{
    padding-bottom: 50px;
}